<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешение на интернет для API автодополнения -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Арабская клавиатура без кастомной темы -->
        <service
            android:name=".ArabicKeyboardIME"
            android:label="Arabic Keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/arabic_method" />
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <!-- Простая клавиатура с добавленной темой -->
        <service
            android:name=".SimpleIME"
            android:label="Simple Button"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:theme="@style/IMETheme"
            android:exported="true">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/simple_method" />
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

    </application>

</manifest>